*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
[x-cloak] {
  display: none !important;
}

@media (min-width: 48rem) {
  [role=banner] .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-block: var(--step-2);
  }
}
.alert {
  border: var(--ll-border-thin);
  border-radius: var(--ll-border-radius);
  padding: var(--step-0) var(--step-1);
}
.alert .title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.auth-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.auth-card > * {
  max-width: 32.5ch;
  width: 100%;
}

.auth-card__logo {
  text-align: center;
}

.brand {
  font-size: var(--step-2);
}

[aria-expanded] + ul {
  display: none;
}

[aria-expanded=true] + ul {
  display: flex;
}

.dropdown ul {
  background-color: var(--ll-background-color);
  border: var(--ll-border-thin);
  border-radius: var(--ll-border-radius);
  padding: var(--step--5) var(--step--4);
  text-align: start;
}

@media (min-width: 48rem) {
  .dropdown {
    position: relative;
  }

  .dropdown ul {
    height: auto;
    inset-inline-end: 0;
    position: absolute;
    text-align: end;
    white-space: nowrap;
    width: auto;
  }
}
.modal-wrapper {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.modal {
  background: white;
  border: var(--ll-border-thin);
  border-radius: var(--ll-border-radius);
  display: block;
  left: var(--step-0);
  margin-top: 0;
  padding: var(--step-0);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100vw - 2 * var(--step-0));
  z-index: 999;
}

.modal > * + * {
  -webkit-margin-before: 2em;
          margin-block-start: 2em;
}

@media (min-width: 48rem) {
  .modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}
nav {
  display: flex;
  flex-direction: column;
  gap: var(--step--2);
  -webkit-margin-before: var(--step-2);
          margin-block-start: var(--step-2);
}

nav ul {
  flex-direction: column;
  gap: var(--step--2);
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

nav ul ul {
  -webkit-margin-before: var(--step--1);
          margin-block-start: var(--step--1);
}

nav ul > li {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

nav ul > li::before {
  display: none;
}

nav button {
  align-items: center;
  display: flex;
  flex-direction: row;
}

nav .icon {
  height: 1em;
  -webkit-margin-end: 0.125em;
          margin-inline-end: 0.125em;
  width: 1em;
}

@media (min-width: 48rem) {
  nav {
    flex-direction: row;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }

  nav > [aria-expanded] {
    display: none;
  }

  nav > [aria-expanded] + ul {
    display: flex;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul ul {
    flex-direction: column;
  }
}
.date {
  display: flex;
  flex-wrap: wrap;
}

.date .field + .field {
  -webkit-margin-start: var(--step-0);
          margin-inline-start: var(--step-0);
}

.date .field--year input {
  width: 6ch;
}

.date .field--day input {
  width: 4ch;
}

.date .field--month select {
  display: block;
  width: auto;
}

.date legend,
.date .field__hint,
.date [x-show=error] {
  width: 100%;
}
