[role="banner"] {
    background-color: var(--primary-background);
}

[role="banner"] a {
    color: var(--body-color);
}

/* Banner */
@media (min-width: 48rem) {
    [role="banner"] .wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    [role="banner"] {
        padding-top: 2rem;
    }
}
