.brand .h3 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 100%;
}

@media (min-width: 48rem) {
    .brand .h3 {
        font-size: 3rem;
        display: initial;    
    }
}