.dropdown ul {
    background-color: var(--ll-background-color);
    border: var(--ll-border-thin);
    border-radius: var(--ll-border-radius);
    padding: var(--step--5) var(--step--4);
    text-align: start;
}

@media (min-width: 48rem) {
    .dropdown {
        position: relative;
    }

    .dropdown ul {
        height: auto;
        inset-inline-end: 0;
        position: absolute;
        text-align: end;
        white-space: nowrap;
        width: auto;
    }
}
