body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    margin-block: 2rem;
}

aside {
    background-color: var(--primary-background);
    border-radius: 0.5rem;
    padding-block: 1.25rem;
    padding-inline: 1rem;
    width: 100%;
}

aside + aside {
    background-color: var(--primary-background);
    border-radius: 0.5rem;
    padding-block: 1.25rem;
    padding-inline: 1rem;
    width: 100%;
    margin-block-start: 1rem;
}

.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar:first-child {
    flex-shrink: 2;
    min-width: 10rem;
}

[aria-expanded]+ul {
    display: none;
}

[aria-expanded="true"]+ul {
    display: flex;
}
